@import url('https://fonts.googleapis.com/css?family=Roboto');
/*@import url('https://fonts.googleapis.com/css?family=Indie+Flower');*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  background-color: #f7f8f9;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Libre Baskerville', serif;
  /*font-family: 'Indie Flower', cursive;*/
  /*position: absolute;*/
}

p {
  /* font-style: italic; */
}


.wrapper {
  position: fixed;
  margin-top: 10%;
  margin-left: 10%;
}

/* @media only screen and (max-width: 600px) {

    .links {
      display: flex;
      justify-content: space-between;
      width: 30%;
      margin-left: 30%;
      margin-right: auto;
      font-size: 15px;
      color: black;
      position: absolute;
      z-index: 100;
      /* padding-left: 500px; */
    /* }
} */


/*
.ilink {
  color: #526a91;
  position: fixed;
  margin-top: 20%;
  margin-left: 16%;
}
.ilink2 {
  color: black;
  position: fixed;
  margin-top: 22%;
  margin-left: 16%;
} */

.clink {
  color: #526a91;
}

.container {
  padding-top: 30px;
  text-align: center;

}

.photocontainer {
  padding-top: 30px;
  text-align: center;
}

.image-container {
  text-align: center;
  font-size: 12px;
}

.non-svr {
  color: #a1a5ad;
}

.name {
  font-size: 40px;
  color: #D3D3D3;
  height: 10em;
  /*position: relative;*/
  /*padding-left: 450px;*/
  letter-spacing: 2px;
}

.spacer {
  padding-top: 10px;
}

.home-spacer {
  padding-bottom: 25px;
}

.photo-spacer {
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  /* padding-bottom: 20px; */
  letter-spacing: 4px;
  padding-right: 25px;
}

.phone {
  padding-left: 80px;
}

.email {
  padding-left: 160px;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  color: black;
  position: absolute;
  z-index: 100;
  padding-left: 35vw;
}

.about {
  /*width: 50%;*/
  font-size: 15px;
}

.photographs {
  /*width: 50%;*/
  font-size: 15px;
}

.dropdown {
  width: 50%;
  font-size: 15px;
  color: black;
}

.contact {
  width: 100%;
}

.dropdown-content {
  display: none;
  padding-top: 10px;
  font-size: 12px;
  /*color: #5c8ad6;*/
  letter-spacing: 1px;
}

.dropdown-content a {
  display: block;
  text-align: center;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
