@import url('https://fonts.googleapis.com/css?family=Roboto');
/*@import url('https://fonts.googleapis.com/css?family=Indie+Flower');*/

body {
  background-color: #f7f8f9;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Indie Flower', cursive;*/
  /*position: absolute;*/
}

.container {
  padding-top: 300px;
  text-align: center;

}

.name {
  font-size: 90px;
  color: #D3D3D3;
  height: 10em;
  /*position: relative;*/
  /*padding-left: 450px;*/
  letter-spacing: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  padding-bottom: 20px;
  letter-spacing: 6px;
}

.phone {
  padding-left: 80px;
}

.email {
  padding-left: 160px;
}

a:link {
  text-decoration: none;
  color: black;
}

a{
  color: black;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: black;
}

.resume {
  width: 50%;
}

.dropdown {
  width: 50%;
  font-size: 20px;
  color: black;
}

.contact {
  width: 100%;
}

.dropdown-content {
  display: none;
  padding-top: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  letter-spacing: 1px;
}

.dropdown-content a {
  display: block;
  text-align: center;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
